.footer{
    background-color: #EEEEEE;
    color: black;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logoBox{
    // height: 1rem;
    // width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.logo{
    height: 10rem;
}

.text__logo{
    // display: block;
    // background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    // color: transparent;
    font-family: 'Cuprum', sans-serif;
    font-size: 8rem;
    letter-spacing: 2rem;
}

.copyright{
    font-size: 3rem;
    display: flex;
    align-items: center;
    position: relative;
}

#fontBalance{
    position: absolute;
    top: -1rem;
    left: -5rem;
    font-size: 2em;
}