$color-primary: #1c1f24;
$color-primary-light: #31363F;
$color-primary-accent: #76ABAE;
$color-primary-highlight: #EEEEEE;

$color-primary-accent-opacity: rgba(118, 171, 174, 0.6);
$color-primary-highlight-opacity: rgba(238, 238, 238, 0.6);